<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cavin.culture.dao.GraphDao">

    <insert id="addGraphData" parameterType="map">
       INSERT INTO graphlabel(label, node_count,link_count, creater,status) VALUES
       (#{params.label},#{params.nodeCount},#{params.linkCount},#{params.creater},#{params.status})
    </insert>

    <select id="getLabelByName" parameterType="String" resultType="String">
        select g.label from graphlabel g where g.label = #{label}
    </select>

    <delete id="delLabelInMysql" parameterType="long">
        delete from graphlabel where id = #{id}
    </delete>

    <select id="getLabelList" resultType="map" >
        SELECT * FROM graphlabel
        <where >
            status=1
            <if test="creater!='' and creater!=null">
                and creater = #{creater}
            </if>
        </where>
        order by id desc
    </select>

</mapper>