<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cavin.culture.dao.ImageDao">
    <resultMap id="image" type="com.cavin.culture.model.Image">
        <id property="picId" column="pic_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="picName" column="pic_name" jdbcType="VARCHAR"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="createBy" column="createBy" jdbcType="VARCHAR"/>
        <result property="createDate" column="createDate" jdbcType="DATE"/>
    </resultMap>

    <sql id="columns">
        pic_id, user_id, pic_name, pic_url,createBy,createDate
    </sql>

    <sql id="dynamicWhere">
        <where>
            <if test="userId != null">(',' || user_id || ',') LIKE '%${userId}%'</if>
            <if test="picName != null and picName != ''">AND pic_name like #{picName}</if>
            <if test="startTime != null and startTime != ''">AND DATE_FORMAT(createDate,'%Y-%m-%d') &gt;=
                DATE_FORMAT(#{startTime},'%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != ''">AND DATE_FORMAT(createDate,'%Y-%m-%d') &lt;=DATE_FORMAT(#{endTime},'%Y-%m-%d')</if>

        </where>
    </sql>

    <insert id="addImage" parameterType="com.cavin.culture.model.Image">
        insert into image (pic_id, user_id, pic_name, pic_url,createBy,createDate)
        values (#{picId,jdbcType=VARCHAR}, #{userId}, #{picName}, #{picUrl},#{createBy},#{createDate})
    </insert>

    <select id="findById" parameterType="java.util.Map" resultMap="image">
        select
        <include refid="columns"/>
        from image
        <include refid="dynamicWhere"/>
        limit #{currIndex},#{pageSize}
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from image
        <include refid="dynamicWhere"/>

    </select>

    <update id="updateUserId">
        update image set user_id = replace(user_id,#{userId},'') where pic_id =#{picId}
    </update>

    <insert id="savePhoto" parameterType="com.cavin.culture.model.Image">
        insert into image(pic_id, user_id, pic_name, photo,createBy,createDate) values
        (#{picId,jdbcType=VARCHAR}, #{userId}, #{picName}, #{photo},#{createBy},#{createDate})
    </insert>
</mapper>