<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cavin.culture.dao.ImageDao">
    <resultMap id="image" type="com.cavin.culture.model.Image">
        <id property="picId" column="pic_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="picName" column="pic_name" jdbcType="VARCHAR"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="createBy" column="createBy" jdbcType="VARCHAR"/>
        <result property="createDate" column="createDate" jdbcType="DATE"/>
    </resultMap>

    <sql id="columns">
        pic_id, user_id, pic_name, pic_url,createBy,createDate
    </sql>

    <sql id="dynamicWhere">
        <where>
            FIND_IN_SET(#{userId}, user_id)
            <if test="pic_name != null">AND pic_name=#{picName}</if>
            <if test="startTime != null">AND createDate &gt;= #{startTime}</if>
            <if test="endTime != null">AND createDate &lt;= #{endTime}</if>

        </where>
    </sql>

    <insert id="addImage" parameterType="com.cavin.culture.model.Image">
        insert into image (pic_id, user_id, pic_name, pic_url,createBy,createDate)
            values (#{picId,jdbcType=VARCHAR}, #{userId}, #{picName}, #{picUrl},#{createBy},#{createDate})
    </insert>

    <select id="findById" parameterType="java.util.Map" resultMap="image">
        select <include refid="columns"/> from image
        <include refid="dynamicWhere"/>
    </select>

    <update id="updateUserId">
        update image set user_id = replace(user_id,#{userId},'') where pic_id =#{picId}
    </update>
</mapper>