<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cavin.culture.dao.UserDao">
    <resultMap id="user" type="com.cavin.culture.model.User">
        <id property="id" column="id" jdbcType="NUMERIC"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="registerDate" column="register_date" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="isDel" column="isdel" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="com.cavin.culture.model.SysRole">
            <id property="roleId" column="role_id" />
            <result property="roleName" column="role_name" />
            <result property="roleType" column="role_type"/>
            <result property="roleStatus" column="role_status"/>
            <result property="roleRemark" column="role_remark"/>
            <collection property="permissions" ofType="com.cavin.culture.model.SysPermission">
                <id property="permissionId" column="permission_id" />
                <result property="permissionName" column="permission_name"/>
                <result property="permissionCode" column="permission_code"/>
                <result property="permissionStatus" column="permission_status"/>
                <result property="permissionRemark" column="permission_remark"/>
            </collection>
        </collection>
    </resultMap>


    <sql id="columns">
        id,user_name,user_password,email,register_date,level,isdel
    </sql>

    <sql id="dynamicWhere">
        <where>
            isdel ='0'
            <if test="userName != null">AND user_name=#{userName}</if>
            <if test="userPassword != null">AND user_password=#{userPassword}</if>
            <if test="email != null">AND email=#{email}</if>
            <if test="registerDate != null">AND register_date=#{registerDate}</if>
            <if test="level != null">AND level=#{level}</if>
        </where>
    </sql>

    <select id="getUserByName" parameterType="java.lang.String" resultMap="user">

        SELECT u.*, r.*, p.*
        FROM user u
        INNER JOIN user_role ur on ur.uid = u.id
        INNER JOIN sys_role r on r.role_id = ur.rid
        INNER JOIN role_permission pr on pr.rid = r.role_id
        INNER JOIN sys_permission p on pr.pid = p.permission_id
        WHERE u.user_name = #{username}
    </select>

    <select id="getPasswordByName" parameterType="java.lang.String" resultType="java.lang.String">
        select user_password from user where user_name=#{userName}
    </select>

    <insert id="insertUser" parameterType="com.cavin.culture.model.User">
        insert into user(user_name,user_password,email,register_date,level,isdel)
        values
        (#{userName,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
        #{registerDate,jdbcType=TIMESTAMP},#{level,jdbcType=VARCHAR},#{isDel,jdbcType=VARCHAR})
    </insert>

    <select id="getAll" parameterType="java.util.Map" resultMap="user">
        select <include refid="columns"/> from user
        <include refid="dynamicWhere"/>
            limit #{currIndex},#{pageSize}

    </select>

    <select id="getUserById" parameterType="java.lang.Long" resultMap="user">
        select <include refid="columns"/> from user where id=#{id}
    </select>

    <update id="updateUserById" parameterType="com.cavin.culture.model.User">
        update user
        <set>
            <if test="userName != null">
                user_name=#{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                user_password=#{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email=#{email,jdbcType=VARCHAR},
            </if>
            <if test="registerDate != null">
                register_date=#{registerDate,jdbcType=TIMESTAMP},
            </if>
            <if test="level != null">
                level=#{level,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                isdel=#{isDel,jdbcType=VARCHAR},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delUserById" parameterType="java.lang.Long">
        delete from user where id=#{id}
    </delete>
    <select id="getUserCount" resultType="java.lang.Integer">
        select count(*) from user where isdel='0'
    </select>
</mapper>